@use './theme.scss' as theme;
@use '@angular/material' as mat;
@use "sass:color";
@import './assets/bootstrap-grid.min.css';

:root {
  --mat-list-active-indicator-shape: 4px;
}

html,
body {
  height: 100%;
  font-family: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

html {
  @include mat.all-component-themes(theme.$dark-theme);

  .text-primary {
    @include mat.icon-color(theme.$dark-theme, $color-variant: primary);
    @include mat.chips-color(theme.$dark-theme, $color-variant: primary);
    @include mat.button-color(theme.$dark-theme, $color-variant: primary);
  }

  .text-accent {
    @include mat.icon-color(theme.$dark-theme, $color-variant: tertiary);
    @include mat.button-color(theme.$dark-theme, $color-variant: tertiary);
  }

  .text-danger {
    @include mat.icon-color(theme.$dark-theme, $color-variant: error);
  }

  .active {
    background-color: mat.get-theme-color(theme.$dark-theme, primary, 60) !important;
  }

  a {
    color: mat.get-theme-color(theme.$dark-theme, primary, 30);
  }

  .drag-container {
    width: 400px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .drag-list {
    border: solid 1px color.adjust($color: theme.$dark-primary-text, $lightness: 20%);
    background-color: theme.$dark-focused;
    min-height: 200px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .drag-box {
    height: 40px;
    padding: 12px 8px;
    background-color: color.adjust($color: theme.$dark-color, $lightness: -2%);
    border: solid 1px color.adjust($color: theme.$dark-color, $lightness: -5%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    /* background: white; */
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0.3;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-box:last-child {
    border: none;
  }

  .drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors(theme.$light-theme);

    .text-primary {
      @include mat.icon-color(theme.$light-theme, $color-variant: primary);
      @include mat.chips-color(theme.$light-theme, $color-variant: primary);
      @include mat.button-color(theme.$light-theme, $color-variant: primary);
    }

    .text-accent {
      @include mat.icon-color(theme.$light-theme, $color-variant: tertiary);
      @include mat.button-color(theme.$light-theme, $color-variant: tertiary);

    }

    .text-danger {
      @include mat.icon-color(theme.$light-theme, $color-variant: error);
      @include mat.button-color(theme.$light-theme, $color-variant: error);
    }

    .active {
      background-color: mat.get-theme-color(theme.$light-theme, primary, 60) !important;
    }

    a {
      color: mat.get-theme-color(theme.$light-theme, primary, 90);
    }

    .drag-list {
      border: solid 1px color.adjust($color: theme.$light-primary-text, $lightness: 20%);
      background-color: theme.$light-primary-text;
    }

    .drag-box {
      background-color: color.adjust($color: theme.$light-color, $lightness: 1%);
      border: solid 1px color.adjust($color: theme.$light-color, $lightness: -6%);
    }
  }
}

body {
  margin: 0;
}

img {
  object-fit: cover;
}

.loading {
  margin: 0 auto;
}

.avatar {
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.cursor-none {
  cursor: auto !important;
}

.strong {
  font-weight: bold;
}

mat-nav-list .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}

mat-panel-title .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white
}

.icon {
  width: 38px;
  height: 38px;
  font-size: 20px;
  line-height: 38px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #2359be;
  color: white;
}


.v-middle {
  vertical-align: middle;
}

.paginator {
  margin: 2px auto;
  background-color: var(--mat-paginator-container-background-color);
}

.mat-mdc-dialog-container .mdc-dialog__content {
  min-height: 60px;
}