<mat-toolbar>
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button color="primary" mat-icon-button matTooltip="编辑" (click)="edit()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="!isLoading" class="d-flex">
  <mat-card class="w-100">
    <!-- <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> -->
    <!-- <img mat-card-image src="" alt=""> -->
    <mat-card-content>
      <p><strong>ApplicationType</strong><br> <span class="text-primary">{{data.applicationType}}</span></p>
      <p><strong>ClientSecret</strong><br> <span class="text-primary">{{data.clientSecret}}</span></p>
      <p><strong>ClientType</strong><br> <span class="text-primary">{{data.clientType}}</span></p>
      <p><strong>ConsentType</strong><br> <span class="text-primary">{{data.consentType}}</span></p>
      <p><strong>DisplayName</strong><br> <span class="text-primary">{{data.displayName}}</span></p>
      <p><strong>Settings</strong><br> <span class="text-primary">{{data.settings}}</span></p>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button></button>
      <button mat-button></button> -->
    </mat-card-actions>
  </mat-card>
</div>