<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>添加应用</span>
</mat-toolbar>
<form class="d-flex p-2" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100 gap-1">
    <div class="d-flex gap-1">
      <mat-form-field>
        <mat-label>应用类型</mat-label>
        <mat-select formControlName="applicationType">
          <mat-option *ngFor="let item of ApplicationType | toKeyValue" [value]="item.value">
            {{item.value | enumText:'ApplicationType'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="applicationType?.invalid">
          {{getValidatorMessage('applicationType')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>名称</mat-label>
        <input matInput placeholder="名称,不超过100字" formControlName="displayName" required minlength="" maxlength="100">
        <mat-error *ngIf="displayName?.invalid">
          {{getValidatorMessage('displayName')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex gap-1">
      <mat-form-field>
        <mat-label>ClientId</mat-label>
        <input matInput placeholder="ClientId,不超过100字" formControlName="clientId" required minlength="" maxlength="100">
        <mat-error *ngIf="clientId?.invalid">
          {{getValidatorMessage('clientId')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ClientSecret</mat-label>
        <input matInput placeholder="Secret,不超过120字" formControlName="clientSecret" minlength="" maxlength="120">
        <mat-error *ngIf="clientSecret?.invalid">
          {{getValidatorMessage('clientSecret')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex gap-1">
      <mat-form-field>
        <mat-label>机密/公开</mat-label>
        <mat-select formControlName="clientType">
          <mat-option *ngFor="let item of ClientType | toKeyValue" [value]="item.value">
            {{item.value | enumText:'ClientType'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="clientType?.invalid">
          {{getValidatorMessage('clientType')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>同意书类型</mat-label>
        <mat-select formControlName="consentType">
          <mat-option *ngFor="let item of ConsentType | toKeyValue" [value]="item.value">
            {{item.value | enumText:'ConsentType'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="consentType?.invalid">
          {{getValidatorMessage('consentType')}}
        </mat-error>
      </mat-form-field>

    </div>
    <mat-form-field>
      <mat-label>Logout回调地址</mat-label>
      <input matInput placeholder="退出登录后的跳转地址" formControlName="postLogoutRedirectUris">
      <mat-hint>多个地址使用,间隔</mat-hint>
      <mat-error *ngIf="postLogoutRedirectUris?.invalid">
        {{getValidatorMessage('postLogoutRedirectUris')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>回调地址</mat-label>
      <input matInput placeholder="回调地址" formControlName="redirectUris">
      <mat-hint>多个地址使用,间隔</mat-hint>
      <mat-error *ngIf="redirectUris?.invalid">
        {{getValidatorMessage('redirectUris')}}
      </mat-error>
    </mat-form-field>

    <h4>权限配置</h4>


    <mat-form-field>
      <mat-label>权限</mat-label>
      <input matInput placeholder="The permissions of application.,不超过0字" formControlName="permissions" minlength=""
        maxlength="0">
      <mat-error *ngIf="permissions?.invalid">
        {{getValidatorMessage('permissions')}}
      </mat-error>
    </mat-form-field>

    <div class="d-flex mt-1 justify-content-end">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="add()">添加</button>
    </div>
  </div>
</form>